		<!--**********    all the JavaScript use in the front   ****************************************-->
	    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>

	    <script type="text/javascript" src="js/parallax.min.js"></script>
	    <script type="text/javascript" src="js/modernizr-2.8.3.min.js"></script>


	    <script type="text/javascript" src="js/classie.js"></script>
	    
	    <script type="text/javascript" src="js/jquery.magnific-popup.js"></script>


	    
	    <script type="text/javascript" src="js/stickUp.min.js"></script>
	    <script type="text/javascript">
	        jQuery(function($) {
	            $(document).ready( function() {
	            	$('.navbar-default').stickUp();
	            });
	        });
	    </script>
	    
	    <script src="/javascritps/jquery.scrollTo.min.js"></script>
    	<script src="/javascritps/jquery.nicescroll.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/uiMorphingButton_inflow.js"></script>
	    <script type="text/javascript" src="js/jquery.corner.js"></script>
	    <script type="text/javascript" src="js/wow.min.js"></script>
	    <script type="text/javascript">
	    	new WOW().init();
	    </script>

	    <script type="text/javascript" src="js/script.js"></script>

	    	    <script type="text/javascript" src="js/owl.carousel.js"></script>


	    <!--***********************************************************************************************-->

	    <!--**********    all the JavaScript use in the login  ********************************************-->
	    

	    <!--***********************************************************************************************-->
	</body>
</html>
